@inherits DeleteEmployeeDialogBase

@if (ShowDialog)
{
    <div class="modal fade show d-block" id="employeeModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleLabel">Are you sure you want to delete this employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="@Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Employee.FirstName
                    <button type="submit" class="btn btn-danger" @onclick="@DeleteEmployee">Delete employee</button>
                    <a class="btn btn-primary text-white cl" @onclick="@Close">Close</a>
                </div>
            </div>
        </div>
    </div>
}